<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8" />
  <title>Termékek</title>
  <link rel="stylesheet" href="/static/uploads/style.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <h1>Üdvözlünk a boltban</h1>
   
  </header>
  <main>
    <div class="product-list">
      {% for product in products %}
        <a href="{{ url_for('product_detail', product_id=product[0]) }}" class="product-card">
          <img src="{{ url_for('static', filename='uploads/' ~ product[4]) }}" alt="{{ product[1] }}" />
          <h2>{{ product[1] }}</h2>
          <p>{{ product[3] }} Ft</p>
        </a>
      {% endfor %}
    </div>
  </main>
</body>
</html>
