<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>Termékek</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <h1>Üdvözlünk a boltban</h1>
    <nav>
      <a href="/login">Admin bejelentkezés</a>
    </nav>
  </header>

  <main>
    <div class="product-grid">
      {% for product in products %}
        <div class="product-card">
          <img src="{{ url_for('static', filename='uploads/' ~ product[4]) }}" alt="{{ product[1] }}">
          <h2>{{ product[1] }}</h2>
          <p>{{ product[2] }}</p>
          <p><strong>{{ product[3] }} Ft</strong></p>
        </div>
      {% endfor %}
    </div>
  </main>
</body>
</html>
