<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>Admin bejelentkezés</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <main class="login-form">
    <h1>Admin belépés</h1>
    <form method="POST">
      <label>Felhasználónév:</label>
      <input type="text" name="username" required>
      <label>Jelszó:</label>
      <input type="password" name="password" required>
      <button type="submit">Bejelentkezés</button>
    </form>
  </main>
</body>
</html>
